#main{
    display: flex;
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    border: 2px solid black;
    padding: 30px;
}
#left{
    width: 50%;
}
#right{
    width: 50%;
    background-color: rgb(7, 69, 7);
    padding: 20px;
    color: white;
}
#custom{
    text-align: center;
    background-color: rgb(190, 190, 190);
    width: 63%;
    cursor: pointer;
}
.btn{
    cursor: pointer;
    background-color: black;
    color: white;
}

#reset{
    background-color: red;
    color: wheat;
    display: block;
    margin-top: 20px;
    width: 90%;
    height: 30%;
    cursor: pointer;
}